
body{
    margin: 0;
    width: 720px;
    min-height: 80vh;
    background: url(assets/empty.png) no-repeat center;
    background-size: 30% !important;
}
.content{
    width: 100%;
    max-width: 750px;
    margin: 0;
    z-index: 0;
    margin-top: -10px;
}
.content ul{
    width: 100%;
}
.content ul li{
    width: 25%;
    list-style:none;
    float:left;
    height: 0;
    padding-bottom: 25%;
}

.content ul li img{
    width: 100%;
}

.float_img{
    border: solid 1px #dadada;
    display: none;
    position:relative;
    top: 0;
    left: 0;
}

.changeSourcePage{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    height: 100%;
}

.changeSourcePage ul{
    margin: 0;
    padding: 0;
}

.changeSourcePage ul li{
    padding: 15px 50px;
    list-style: none;
    background: #eaeaea;
    font-weight: 600;
    margin-top: 2px;
    letter-spacing: 3px;
}

.changeSourcePage .selected{
    background: #adabab !important;
}

.click-changeSourcePage{
    background-image: url(set-button.png);
    width: 40px;
    height: 40px;
    z-index: 99;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    right: 0px; 
    bottom: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.click-changeSourcePage:hover,.click-content:hover{
    opacity: 1;
    background-size: 40px 40px;
}
.click-content{
    background-image: url(set-back.png);
    width: 40px;
    height: 40px;
    z-index: 99;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    right: 0px; 
    bottom: 0px;
    opacity: 0.5;
    cursor: pointer;
}
body .line-div{
    z-index: 999999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    border: 0;
    border-top: #9cd5ff solid 1px;
}

.dark-mode{
    background-color: #2B2C2D;
}
.dark-mode .line-div{
    z-index: 999999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    border: 0;
    border-top: #d28641 solid 1px;
}

.empty-bg{
    background: url(assets/empty.png) no-repeat center;
    background-size: 30%;
}